/* This file is for your main application css. */

@import url('../node_modules/highlight.js/styles/agate.css');

.main {
  padding: 0 20px;
  .path-name {
    padding: 10px;
    color: gray;
    display: block;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #BFF4FF;
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .file {
    a {
      display: block;
      padding: 10px;
      color: 003744;
      text-align: none;
      transition: all 0.1s ease-in;
      &:hover {
        background-color: #003744;
        color: white;
      }
    }
  }
}

.main {
  width: 80%;
  left: 20%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  background-color: #f9f9f9;
}

#file {
  width: 60%;
  position: fixed;
}
